.box {
  width: 200px;
  height: 200px;
  background: url(https://thumbs.dreamstime.com/b/picturesque-autumn-scenery-santa-maddalena-village-church-road-colorful-trees-meadows-foreground-mountain-peaks-159426189.jpg);
  margin: 100px auto;
  /* transform: translate(300px, 100px); */
  /* transform: scale(0.5, 0.5); */
  /* transform: rotate(-45deg); */
  /* transform: skew(-30deg); */
}
.box:hover {
  transform: rotate(45deg);
}
